
.bg {
	background-color:#ccc;
	background-repeat: no-repeat;
	margin:90px auto;
	height: 270px;
	width: 380px;
}
.bg td {
	font-size: 12px;
	color: #000;
}
.bg strong{
	font-size: 22px;
	color: #000;
	text-align: center;
}
.bg .bginput {
	width: 160px;
	line-height: 22px;
	height: 22px;
}

.bg .bgbutton {
	line-height: 27px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../images/sub_button.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 72px;
	border-width: 0px;
	text-align: center;
}