@charset "utf-8";
/* CSS Document */
.box{
	border-top:8px #CF0000 solid;
}
.head img{
	margin-top:25px;
}
.head ul{
	margin-top:44px;	
}

.head a{
	
	color:#868686;
}
.head ul span{
	margin-left:10px;
	margin-right:10px;
	color:#868686;
	
}
.hx{
	height:62px;
}
.head li{
	float:left;
}
.tl{
	border-left:2px solid #DEDEDE;
	height:42px;
	margin-top:6px;
	padding-left:20px;
	font-size:13px;
	width:455px;
	margin-left:58px;
	
	
}
.text{
	height:40px;
}
.ts1{
	margin-right:20px;
}
.ts2{
	margin-right:89px;
}
.tr{
	margin-top:10px;
	color:#858585;
	font-size:17px;
	
}

.nav{
	height:64px;
	background-color:#F4F4F4;
	margin-top:38px;
}

.nav ul{
	padding-right:-50px;
	padding-left:42px;
	
}
.nav li{
	float:left;
	height:48px;
	line-height:48px;
	padding-right:50px;
}
.nav li a{
	color:#4B4B4B;
	height:48px;
	display:inline-block;
	line-height:48px;
}
.nav li a:hover{
	border-bottom:2px #D11F2D solid;
	color:#D11F2D;
	
}
.banner{
	background-color:#000000;
	height:435px;
}
.bg img {
	padding-top:80px;
}
.column h3{
	font-size:36px;
	height:38px;
	line-height:37px;
	border-left:7px solid #EA5413;
	padding-left:19px;
}
.column span{
	font-size:24px;
	color:#6B6B6B;
}
.column{
	margin-bottom:32px;
}
.content{
	background:#F0F0F0;
	padding-top:31px;
	height:537px;
}
.cont1{
	background:url(../img/bg1.png) no-repeat;
	height:537px;
}
.c_left li{   
	margin-bottom:19px;
	line-height:45px;
	position:relative;
	background:url(../img/tiao1.png) no-repeat;
}
.c_left em{
	margin-left:22px;
	font-size:20px;
	color:#FFF;
	display:inline-block;
	line-height:37px;	
	height:37px;
	width:259px;
}

.c_left li:hover {
	background:url(../img/tiao2.png) no-repeat;
}
.c_left li:hover .left_text{
	display:block;
}
.c_left span{
	font-size:24px;
	color:#FFF;
	display:inline-block;
	height:45px;
	text-align:center;
	width:46px;

}

.left_text{
	background:url(../img/bai.png)  no-repeat ;
	height:153px;
	width:892px;
	display:none;
	padding-top:27px;
	z-index:999;
}
.left_text p{
	text-indent:2em;
	font-size:14px;
	line-height:24px;
	padding-left:28px;
	padding-right:28px;
}
.c_right{
	
	margin-top:-12px;
}
.cont2{
	background:url(../img/bgxiao.png) repeat-x;
	height:510px;
	padding-top:35px;
}
.cont2_text{
	background:url(../img/bg2.png) no-repeat;
	
}
.blank{
	width:827px;
	height:348px;
	background-color:#000;
	margin:44px 55px;
	
}
.blank ul{
	padding:60px 95px 0 95px;
	margin-right:-46px;
}
.blank li{
	width:177px;
	height:41px;
	position:relative;
	border:1px solid #546779;
	float:left;
	line-height:41px;
	margin-right:46px;
	background-color:#FFF;
	margin-bottom:36px;
	text-align:center;
}
.none{
	background:url(../img/bai2.png) no-repeat;
	position:absolute;
	width:357px;
	font-size:16px;
	height:138px;
	left:74px; top:-138px;
	padding-left:10px;
	display:none;
	
}
.none h3{
	color:#668EB1;
	margin-left:-180px;
}

.none p{
	font-size:14px;
	padding-right:10px;
	color:#626262;
	line-height:20px;
	
}
.blank li:hover .none{
	display:block;
}
.cont3{
	background:#4A4A4A;
	height:500px;
}
.cont3_text{
	background:url(../img/bg3.png) no-repeat;
	height:467px;
	padding-top:33px;
	}
.pp{
	margin-left:-100px;
}
.gg1 ul{
	margin-left:170px;
	margin-right:520px;
	width:303opx;
}
.gg1 li{
	position:relative;
}
.gg1 li a{
	padding:19px 16px;
	display:inline-block;
	background:#4A4A4A;
	width:303opx;
}
.gg1 li a:hover{
	background:#939191;
}
.gg1 li:hover .lih{
	display:block;
}
.lih{
	background:url(../img/bai3.png) no-repeat;
	width:464px;
	height:381px;
	overflow:hidden;
	position:absolute;
	left:310px; top:-34px;
	display:none;

}
.p1{
	font-size:14px;
	width:131px;
	float:left;
	padding-top:32px;
	padding-right:34px;
	padding-left:20px;
	line-height:24px;
}
.lih span{
	width:141px;
	display:inline-block;
	
	
}
.lih img{
	height:160px;
	padding-top:32px;
	padding-left:32px;
	font-size:14px;
}
.p2{
	font-size:14px;
	padding-left:32px;
	text-indent:1.4em;
	padding-right:40px;
	}
.cont4{
	background:#F0F0F0;
	height:494px;
	width:100%;
}
.cont4_text{
	background:url(../img/bg4.jpg) no-repeat;
	height:494px;
	padding-top:33px;
	width:1440px;
	margin-left: auto; margin-right: auto;
}
.tu,.tu1,.tu2{
	margin-right:43px;

}
.column span{
	margin-left:12px;
}
.tu{
	position:relative;
	margin-top:33px;
}
.tu_text{
	background:url(../img/erbg.png) no-repeat;
	height:55px;
	color:#FFF;
	margin-top:10px;
}
.biaoti{
	text-align:center;
}
.tu_text h3{
	font-size:18px;
}
.tu_text p{
	font-size:16px;
}
.tu2{
	margin-right:-43px;
}
.th{
	background:url(../img/bai4.png) no-repeat;
	height:285px;
	width:330px;
	position:absolute;
	left:190px; top:3px;
	display:none;
	z-index:999;
	
}
.th p{
	padding-left:28px;
	width:286px;
	text-indent:2em;
	margin-top:26px;
	color:#000;
	font-size:14px;
	line-height:24px;
}
.tz a:hover .th{
	display:block
} 
.cont5{
	background-color:#2B2B2B;
	height:536px;
}
.cont5_text{
	padding-top:33px;
	background:url(../img/bg5.png) no-repeat;
	height:503px;
}
.mp{
	width:700px;
	color:#FFF;
	margin-left:42px;
}
.mp h4{
	font-weight:normal;
	margin-bottom:14px;
}

.mp_text{
	line-height:24px;
	font-size:14px;
}
.mp_text p{
	text-indent:2em;
}
.cont6{
	background:#D9E0E5;
	height:398px;
	padding-top:33px;
}
.column1 h3{
	width:170px;
	height:45px;
	padding-left:23px;
	line-height:45px;
	font-size:32px;
	border-left:3px solid #EA5413;
	}
.cont6_left{
		float:left;
	}
.cont6_left li{
	background:url(../img/yuanjiao.png) no-repeat;
	width:126px;
	height:34px;
	line-height:34px;
	text-align:center;
}
.lia1{
	margin-bottom:59px;
	margin-top:18px;
	position:relative;
}
.lia2{
	margin-bottom:33px;
	}
.rl,rr{
	background:url(../img/yuan2.png) no-repeat;
	width:353px;
	height:77px;
}
.cont6_right{
	float:left;
}
.rl{
	padding:5px 0 9px 22px;
	font-size:14px;
}
.rt{
	padding-left:17px;
	line-height:24px;
	}
.left_l1{
	margin-left:161px;
	margin-top:-192px;
	margin-right:-42px;
}
.left_l2{
	margin-left:160px;
}
.left_l2 img {
	margin-right:33px;
}
.left_l3{
	background:url(../img/bai5.png) no-repeat;
	width:475px;
	height:127px;
	font-size:14px;
	padding-left:38px;
	line-height:24px;
	padding-top:10px;
	margin-left:144px;
	margin-top:18px;
}
.cont7{
	background:#D9E0E5;
	height:484px;
}
.c7_left{
	margin-top:46px;
}
.c7_right{
	background:url(../img/ll.png) no-repeat;
	width:356px;
	height:212px;
	margin-left:108px;
	margin-bottom:12px;
}
.c7_right h3 a{
	font-size:14px;
	color:#FFF;
	line-height:30px;
	padding-left:16px;
}
.c7_right p{
	font-size:12px;
	
}
.c7_text{
	margin-top:18px;
	padding-left:21px;
}
.c7_right2{
	background-color:#F2F2F2;
	width:336px;
	height:179px;
	font-size:14xp;
	margin-left:108px;
	padding-top:20px;
	padding-left:20px;
}
.cont8{
	background:#000;
	color:#FFF;
	padding-top:16px;
	text-align:center;
	height:93px;
}
.cont8 span{
	margin-right:42px;
}














